---
- name: Slurm Cluster Installation on Ubuntu
  hosts: all
  become: yes
  tasks:
    - name: 패키지 업데이트 및 필수 의존성 설치
      apt:
        name: [munge, slurm-wlm, mailutils]
        update_cache: yes
        state: present

    - name: Slurm 스풀 및 로그 디렉토리 생성
      file:
        path: "{{ item }}"
        state: directory
        owner: slurm
        group: slurm
        mode: '0755'
      with_items:
        - /var/spool/slurmctld
        - /var/spool/slurmd
        - /var/log/slurm

- name: Slurm 마스터 설정
  hosts: slurm_master
  become: yes
  tasks:
    - name: Slurm 컨트롤러 서비스 활성화
      systemd:
        name: slurmctld
        enabled: yes
        state: started

- name: Slurm 계산 노드 설정
  hosts: slurm_compute
  become: yes
  tasks:
    - name: Slurm 실행 서비스 활성화
      systemd:
        name: slurmd
        enabled: yes
        state: started
