ClusterName=slurm-on-aws
ControlMachine=master_node
ControlAddr=15.165.32.34

# 인증 설정
AuthType=auth/munge

# NAS가 없으므로 로컬 경로 사용
StateSaveLocation=/var/spool/slurmctld
SlurmdSpoolDir=/var/spool/slurmd
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

# 노드 리스트 (IP 직접 명시)
NodeName=node1 NodeAddr=43.203.164.200 CPUs=2 State=UNKNOWN
NodeName=node2 NodeAddr=3.38.136.210 CPUs=2 State=UNKNOWN

PartitionName=debug Nodes=node1,node2 Default=YES MaxTime=INFINITE State=UP
