- hosts: master,accounting,monitoring,clients,cpu_workers,gpu_workers
  become: yes
  vars:
    munge_uid: 1001
    slurm_uid: 1002
 
  tasks:
    # 1. 사용자 및 그룹 생성 (전 노드 동일 UID/GID 보장)
    - name: Slurm 및 Munge 그룹 생성
      group: name={{ item.name }} gid={{ item.id }} state=present
      loop: [{name: 'munge', id: "{{ munge_uid }}"}, {name: 'slurm', id: "{{ slurm_uid }}"}]

    - name: Slurm 및 Munge 사용자 생성
      user: name={{ item.name }} uid={{ item.id }} group={{ item.name }} shell=/sbin/nologin state=present
      loop: [{name: 'munge', id: "{{ munge_uid }}"}, {name: 'slurm', id: "{{ slurm_uid }}"}]

    # 2. 필수 패키지 설치
    - name: Slurm 및 필수 패키지 설치
      dnf:
        name: 
          - munge
          - munge-libs
          - slurm
          - slurm-slurmctld
          - slurm-slurmd
          - slurm-slurmdbd
          - mariadb-connector-odbc
          - chrony
        state: present

    - name: 시간 동기화 서비스 시작 (Chrony)
      systemd: name=chronyd state=started enabled=yes

    # 3. 디렉토리 생성 및 권한 부여
    - name: Slurm 관련 디렉토리 생성
      file:
        path: "{{ item }}"
        state: directory
        owner: slurm
        group: slurm
        mode: '0755'
      loop: [/etc/slurm, /var/spool/slurmctld, /var/spool/slurmd, /var/log/slurm]

# --- Accounting 전용 설정 (MySQL) ---
- hosts: accounting
  become: yes
  vars: 
    mysql_pass: "slurm123"
    db_name: "slurm_acct_db"
  tasks:
    - name: MariaDB 설치 및 DB 생성
      dnf: 
        name: mariadb105-server  
        state: present
    - systemd: 
        name: mariadb 
        state: started 
        enabled: yes
    - shell: |
        mysql -e "CREATE DATABASE IF NOT EXISTS slurm_acct_db;"
        mysql -e "GRANT ALL ON slurm_acct_db.* TO 'slurm'@'localhost' IDENTIFIED BY '{{ mysql_pass }}';"
      register: db_res
      changed_when: "db_res.rc == 0"

# --- Monitoring 전용 설정 ---
- hosts: monitoring
  become: yes
  tasks:
    - name: Grafana 리포지토리 추가
      yum_repository:
        name: grafana
        description: Grafana
        baseurl: https://rpm.grafana.com
        repo_gpgcheck: yes
        enabled: yes
        gpgcheck: yes
        gpgkey: https://rpm.grafana.com/gpg.key
        sslverify: yes
        sslcacert: /etc/pki/tls/certs/ca-bundle.crt

    - name: Prometheus 사용자 생성
      user:
        name: prometheus
        system: yes
        shell: /bin/false
        home: /var/lib/prometheus
        createhome: yes

    - name: Prometheus 디렉토리 생성
      file:
        path: "{{ item }}"
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0755'
      loop:
        - /etc/prometheus
        - /var/lib/prometheus

    - name: Prometheus 바이너리 다운로드
      get_url:
        url: https://github.com/prometheus/prometheus/releases/download/v2.45.0/prometheus-2.45.0.linux-amd64.tar.gz
        dest: /tmp/prometheus.tar.gz
        mode: '0644'

    - name: Prometheus 압축 해제
      unarchive:
        src: /tmp/prometheus.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Prometheus 바이너리 복사
      copy:
        src: /tmp/prometheus-2.45.0.linux-amd64/{{ item }}
        dest: /usr/local/bin/{{ item }}
        owner: prometheus
        group: prometheus
        mode: '0755'
        remote_src: yes
      loop:
        - prometheus
        - promtool

    - name: Prometheus 설정 파일 복사
      copy:
        src: /tmp/prometheus-2.45.0.linux-amd64/prometheus.yml
        dest: /etc/prometheus/prometheus.yml
        owner: prometheus
        group: prometheus
        mode: '0644'
        remote_src: yes

    - name: Prometheus systemd 서비스 파일 생성
      copy:
        dest: /etc/systemd/system/prometheus.service
        content: |
          [Unit]
          Description=Prometheus
          Wants=network-online.target
          After=network-online.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
              --config.file /etc/prometheus/prometheus.yml \
              --storage.tsdb.path /var/lib/prometheus/ \
              --web.console.templates=/etc/prometheus/consoles \
              --web.console.libraries=/etc/prometheus/console_libraries \
              --web.listen-address=0.0.0.0:9090 \
              --web.enable-lifecycle

          [Install]
          WantedBy=multi-user.target

    - name: Grafana 설치
      dnf:
        name: grafana
        state: present

    - name: 서비스 시작 및 활성화
      systemd:
        name: "{{ item }}"
        state: started
        enabled: yes
        daemon_reload: yes
      loop:
        - prometheus
        - grafana-server

  

# --- MUNGE 키 생성 및 배포 ---
- hosts: master
  become: yes
  tasks:
    - name: Munge 키 생성
      command: /usr/sbin/mungekey -f
      args:
        creates: /etc/munge/munge.key
    - name: Munge 키 가져오기
      fetch: src=/etc/munge/munge.key dest=/tmp/munge.key flat=yes

- hosts: slurm_cluster
  become: yes
  tasks:
    - name: Munge 키 배포 및 서비스 시작
      copy: src=/tmp/munge.key dest=/etc/munge/munge.key owner=munge group=munge mode='0400'
    - systemd: name=munge state=restarted enabled=yes

# --- Slurm 설정 배포 및 서비스 기동 ---
- hosts: slurm_cluster
  become: yes
  tasks:
    - name: slurm.conf 템플릿 배포
      template:
        src: slurm.conf.j2
        dest: /etc/slurm/slurm.conf
        owner: slurm
        group: slurm

- hosts: master
  become: yes
  tasks:
    - systemd: name=slurmctld state=restarted enabled=yes

- hosts: accounting
  become: yes
  tasks:
    - systemd: name=slurmdbd state=restarted enabled=yes

- hosts: cpu_workers, gpu_workers
  become: yes
  tasks:
    - systemd: name=slurmd state=restarted enabled=yes
