- name: Slurm & Munge Setup without NAS
  hosts: all
  become: yes
  tasks:
    - name: 기본 패키지 설치
      apt:
        name: [munge, slurm-client]
        state: present
        update_cache: yes

    - name: 마스터 전용 데몬 설치
      apt: 
        name: slurmctld
        state: present 
      when: inventory_hostname in groups['master']
    
    - name: 컴퓨트 노드 전용 데몬 설치
      apt:  
        name: slurmd
        state: present
      when: inventory_hostname in groups['nodes']

    - name: (Master) Munge 키 생성 및 로컬(관리자PC)로 가져오기
      when: inventory_hostname in groups['master']
      block:
        - name: Munge 키 존재 확인 및 권한 수정
          file:
            path: /etc/munge/munge.key
            owner: munge
            group: munge
            mode: '0400'
        - name: 마스터의 키를 관리자 PC의 /tmp로 복사
          fetch:
            src: /etc/munge/munge.key
            dest: /tmp/munge.key
            flat: yes

    - name: (Nodes) 관리자 PC에 있는 키를 각 노드로 배포
      copy:
        src: /tmp/munge.key
        dest: /etc/munge/munge.key
        owner: munge
        group: munge
        mode: '0400'
      notify: restart munge

    - name: slurm.conf 설정 배포
      template:
        src: slurm.conf.j2
        dest: /etc/slurm/slurm.conf
      notify: 
        - restart slurmctld
        - restart slurmd

  handlers:
    - name: restart munge
      service: name=munge state=restarted enabled=yes
    - name: restart slurmctld
      service: name=slurmctld state=restarted
      when: inventory_hostname in groups['master']
    - name: restart slurmd
      service: name=slurmd state=restarted
      when: inventory_hostname in groups['nodes']
